// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fondo{
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    color: white;
    padding: 20px;
}

.letra{
    color: #2193b0;
}